@model Fit.ViewModels.Admin.AdminUserEditViewModel

@{
    ViewBag.Title = "Edit user";
    Layout = "_Layout";
}

<form class="form" role="form" id="formEdit" method="post" asp-controller="Admin" asp-action="EditUser" >
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstname">Voornaam</label>
            <input type="text" class="form-control" id="firstname" asp-for="FirstName">
        </div>
        <div class="form-group col-md-6">
            <label for="lastname">Achternaam</label>
            <input type="text" class="form-control" id="lastname" asp-for="LastName">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="birthdate">BirthDate</label>
            <input type="date" class="form-control" id="birthdate" asp-for="BirthDate">
        </div>
        <div class="form-group col-md-6">
            <label for="length">Lengte</label>
            <input type="number" class="form-control" id="length" asp-for="Length">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="status">Status</label>
            <select id="status" class="form-control" asp-for="Blocked">
                <option selected="@(!Model.Blocked)" value="false">Actief</option>
                <option selected="@(Model.Blocked)" value="true">Geblokeerd</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="right">Recht</label>
            <select id="right" class="form-control" asp-for="Right" asp-items="Model.Rights">
            </select>
        </div>        
    </div>
   
    <button type="submit" class="btn btn-primary">Update</button>
</form>
