@using Models
@model Fit.ViewModels.Article.ArticleListViewModel
@{
    ViewData["Title"] = "Home Page";
    var authUser = ViewData["AuthUser"] as IUser;
}
@if(authUser == null){
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Fitness begint met wat je eet.</h1>
    <p class="lead text-muted">Neem het heft in eigen handen. Tel calorieën, ontleed ingrediënten en houd activiteiten bij met Fit.</p>
    <p>
      <a class="btn btn-primary my-2" asp-controller="Auth" asp-action="Register">Begin nu gratis</a>
      <a class="btn btn-secondary my-2" asp-controller="Auth" asp-action="Login">heb je al een account?</a>
    </p>
  </div>
</section>
}
<h1 class="mt-md-5">Populair eten</h1>
<div class="card-columns">
  @foreach (var article in Model.AllArticles)
  {
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">@article.Name</h5>
        <p class="card-text">Calorieën: @article.Calories</p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-@article.Name" aria-expanded="false" aria-controls="collapse-@article.Name">
          Nutrients
        </button>
        @if (article.NutrientIntakes != null)
        {
          <div class="collapse" id="collapse-@article.Name">
            <ul class="list-group list-group-flush">
              @foreach (var nutrient in article.NutrientIntakes)
              {
                <li class="list-group-item">@nutrient.Nutrient.Name : @nutrient.Amount</li>
              }
            </ul>
          </div>
        }     
      </div>
    </div>
  }
</div>
